html, body, table {
 background: #ffffff;
 color: #000000;
 font-size: 12px;
}

html, body, h2, h3, h4, div, p, ul, li, input, table, pre {
 font-family: Arial, Helvetica, sans-serif;
}

a {
 color: #0000C0;
 text-decoration: underline
}

a:hover {
 color: #000000; 
 text-decoration: none
}

h1{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 color: #000000;
 font-weight:bold;
 margin-bottom: 0px;
}

h2{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 color: #000000;
 margin-bottom: 0px;
 font-weight: normal;
 margin: 0px;
}

Img{
 border: 0;
 vertical-align: bottom;
 padding: 0px;  
 margin: 0px 3px 0px 0px;
}

.ars_image
{
 text-align: center;
}

ul{
 list-style: none;
 padding: 1px;
 margin-left: 8px;
}

li{
 padding: 1px;
}

.objName{
	font-weight:bold;
	font-style:normal;
}

/* Page Layout */
#IFrameMenu{
 width: 180px;
 height: 560px;
 margin: 0px;
}


table.TblMain {
 width: 100%;
 border: solid 1px #c0c0c0;  
 border-collapse: collapse;
}

table.TblMain .TdMainHeader {
 height: 26px;
 padding: 3px;
 vertical-align: top;
 border-bottom: solid 1px #c0c0c0;
}

table.TblMain .TdMainButtom {
 height: 1px;
 padding: 3px;
 vertical-align: bottom;
 border: solid 1px #c0c0c0;
}

table.TblMain .TdMainMenu{
 padding: 1px;
 vertical-align: top;
 text-align: left;
 border-right: solid 1px #c0c0c0;
}

table.TblMain .TdMainContent{
 width: 100%;
 padding: 5px;
 vertical-align: top;
}

table.TblMain .TdMainContentSmall{
 padding: 5px;
 vertical-align: top;
 border-left: solid 1px #c0c0c0;
}


table.TblMain .TdMainObjMenu{
 width: 15%;
 padding: 5px;
 vertical-align: top; 
}

table.TblMain .TdMainObjMenuSmall{
 width: 0%;
 padding: 5px;
 vertical-align: top;
}

/* Table Object List */
table.TblObjectList {
 width: 100%;
 border: solid 1px #c0c0c0;
 border-collapse: collapse;
 padding: 0px;
 margin: 5px 0px 10px 0px;
}
table.TblObjectList th {
 font-weight:normal;
 text-align: left;
 border: solid 1px #c0c0c0;
 background-color: #efefef;
 color: #000000;
}

table.TblObjectList td {
 border-width: 1px 1px 1px 1px;
 border-style: solid;
 border-color: #c0c0c0;
 vertical-align: top;
}

/* Table without border */
table.TblNoBorder {
 width: 100%;
 border-width: 0px;
 border-collapse: collapse;
 padding: 0px;
 margin: 5px 0px 10px 0px;
}
table.TblNoBorder th {
 font-weight:normal;
 text-align: left;
 border-width: 0px;
 background-color: #efefef;
 color: #000000;
}

table.TblNoBorder td {
 border-width: 0px;
 vertical-align: top;
}

/* Table Object List Hidden*/
table.TblHidden {
 width: 100%;
 border: solid 1px #c0c0c0;
 border-collapse: collapse;
 padding: 0px;
 margin: 5px 0px 10px 0px;
}

table.TblHidden td {
 border-width: 1px 1px 1px 1px;
 border-style: solid;
 border-color: #c0c0c0;
 vertical-align: top;
}

/* Table Action List */
table.TblActionList {
 width: 100%;
 border: solid 1px #c0c0c0;
 border-collapse: collapse;
 padding: 0px;
 margin: 5px 0px 10px 0px;
}
table.TblActionList th {
 font-weight:normal;
 text-align: left;
 border: solid 1px #c0c0c0;
 background-color: #efefef;
 color: #000000;
}

table.TblActionList td {
 border-width: 1px 1px 1px 1px;
 border-style: solid;
 border-color: #c0c0c0;
 vertical-align: top;
}

#TdSchemaRelatedObjects
{
 overflow: auto;
 height: 200px;
}


/* Table History */
table.TblObjectHistory {
 width: 100%;
 border: solid 1px #c0c0c0;
 border-collapse: collapse;
 background-color: #ffffff;
 padding: 0px;
 margin: 5px 0px 10px 0px;
}
table.TblObjectHistory th {
 font-weight:normal;
 text-align: left;
 border: solid 1px #c0c0c0;
 background-color: #efefef;
 color: #000000;
}

table.TblObjectHistory td {
 border-width: 1px;
 border-style: solid;
 border-color: #c0c0c0;
}

/* Table History */
table.TblNoSort {
 width: 100%;
 border: solid 1px #c0c0c0;
 border-collapse: collapse;
 background-color: #ffffff;
 padding: 0px;
 margin: 5px 0px 10px 0px;
}
table.TblNoSort th {
 font-weight:normal;
 text-align: left;
 border: solid 1px #c0c0c0;
 background-color: #efefef;
 color: #000000;
}

table.TblNoSort td {
 border-width: 1px;
 border-style: solid;
 border-color: #c0c0c0;
}

/* Addional style */
.DivHistoryText
{
 overflow:auto;
 height: 150px;
}


/* Tab style */
div.tabBox {
  width: 50%;
}

div.tabArea {
  font-size: 12px;
}

a.tab {
  background-color: #efefef;
  border: 1px solid #000000;
  border-bottom-width: 0px;
  padding: 2px 3px 2px 3px;
  position: relative;
  text-decoration: none;
  top: -1px;
  z-index: 100;
}

a.tab, a.tab:visited {
  color: #0000c0;
}

a.tab:hover {
  background-color: #ffffff;
  color: #606060;
}

a.tab.activeTab, a.tab.activeTab:hover, a.tab.activeTab:visited {
  background-color: #ffffff;
  color: #000000;
}

a.tab.activeTab {
  z-index: 102;
}

div.tabMain {
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 8px;
  position: relative;
  z-index: 101;
  height: 200px;
}

div.tabIframeWrapper {
  width: 100%;
}

iframe.tabContent {
  border: 1px solid #000000;
  width: 100%;
  height: 190px;
}

.objStatusDisabled{
  color: #ff0000;
}

.preWsInfo{
  background: #ffffff;
  color: #000000;
  font-size: 11px;
}

.fieldNotFound{
	color: #ff0000;
	font-size: 12px;
}

.fieldInNoView{
	color: #ff0000;
	font-size: 12px;
}

#tblDocSummary{
	width: 50%;
}

p 
{
    margin-top: 0px;
    margin-bottom: 6px;
}

p.last
{
    margin-top: 0px;
    margin-bottom: 0px;
}

.form_navigation {
  margin-left: 9px;
}

td.disabledLetter 
{
    color: Silver;
}

#ovlNote
{
    text-align:center; 
    margin: 3pt; 
    padding: 2pt; 
    border-top: 1pt red solid; 
    border-bottom: 1pt red solid;
}

#locLeft
{
	float:left;
	text-align: left;
	line-height: 16px;
}

#locRight
{
	text-align: right;
	line-height: 16px;
}

#MainObjectTabCtrl .inner-tab
{
    background: none; 
    background-color: white; 
    border: 
    solid 1px #BBB;
}

.clearable{
    position:relative;
	padding: 3px;
	line-height: 24px;
}
.data_field{
    padding-right:17px; /* add space for the 'x' icon*/
}
.data_field::-ms-clear {
	width: 0;
	height: 0;
	display: none;
}
.icon_clear{
    position:absolute;
	top: 0px;
    right:0px;
    display:none;
	text-align: center;
	vertical-align: middle;
	border: none;
	background: none;
    
    /* now go with the styling */
    cursor:pointer;
    font: bold 1em sans-serif;
    color:#38468F;
}
.icon_clear:hover{
	color:#f52;
}
.additionalInfo{
    color:gray;
}

.multiFilter {
	border: 1px solid silver; padding: 5px;
	margin-left: 10px;
}

td.warn {
	background-color: #efefef;
}

#search { line-height: 22px; float: left; }
.left { float: left; }
#filter { margin-right: 90px;}
.filterOpts { margin-left: 110px; min-width: 130px; margin-right: 75px; }
.checkbox-sref { float: left; width: 130px; }
.checkbox-sl { float: left; width: 75px; }
.restrictions { padding: 1px; margin-left: 190px; border: 1px solid silver; overflow:auto; }
#clearButton { float: right; }
.ptop { padding-top: 3px; }

